/////////////////////////////////////////////
///////////////buttons styles////////////////
////////////////////////////////////////////////////////////////////////////////

.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 400;
  color: #fff;
  width: 100%;
  padding: 1rem 0;
  background-image: var(--primary-gradient);
  border-radius: 0.5rem;
  border: solid white 0.5px;
  transition: all 0.5s;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  z-index: 1;

  &:hover {
    background-image: none;
    background-color: #fff;
    color: hsl(237, 63%, 64%);
    border-color: hsl(237, 63%, 64%);
  }

  &:active {
    transform: scale(0.95);
  }

  &:focus {
    outline: none;
  }

}
