:root {
  --primary-gradient: linear-gradient(
    to bottom right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  --very-light-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 10px;
  box-sizing: border-box; }

body {
  background-color: var(--very-clight-grayish-blue); }
  body::before, body::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    background-repeat: no-repeat; }
  body::before {
    background-image: url("../images/bg-top.svg");
    background-position: top right; }
  body::after {
    background-image: url("../images/bg-bottom.svg");
    background-position: bottom left; }
    @media only screen and (max-width: 900px) {
      body::after {
        display: none; } }

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-column {
  display: flex;
  justify-content: center;
  align-items: center; }

.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }

body {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif; }

h1 {
  margin-top: 10rem;
  color: var(--dark-grayish-blue);
  text-align: center; }

.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 400;
  color: #fff;
  width: 100%;
  padding: 1rem 0;
  background-image: var(--primary-gradient);
  border-radius: 0.5rem;
  border: solid white 0.5px;
  transition: all 0.5s;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  z-index: 1; }
  .btn:hover {
    background-image: none;
    background-color: #fff;
    color: #696fdd;
    border-color: #696fdd; }
  .btn:active {
    transform: scale(0.95); }
  .btn:focus {
    outline: none; }

.pricing-switch {
  text-align: center;
  margin: 5rem 0; }
  .pricing-switch #switch {
    display: none; }
    .pricing-switch #switch:checked + .pricing-switch__toggle::after {
      transform: translateX(-100%); }
  .pricing-switch__toggle {
    position: relative;
    display: inline-block;
    width: 6rem;
    height: 3.5rem;
    padding: 0.5rem;
    border-radius: 2rem;
    margin: 0 2rem;
    background-image: var(--primary-gradient);
    cursor: pointer;
    transition: opacity .3s; }
    .pricing-switch__toggle::after {
      content: "";
      position: absolute;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background-color: #fff;
      transition: transform .3s; }
    .pricing-switch__toggle:hover {
      opacity: .7; }

.pricing-time-range {
  color: var(--light-grayish-blue); }

.card {
  width: 35rem;
  background-color: #ffffff;
  text-align: center;
  padding: 5rem;
  color: var(--dark-grayish-blue);
  border-radius: 1rem;
  box-shadow: -6px 12px 20px var(--light-grayish-blue);
  max-width: 100%; }
  @media only screen and (max-width: 900px) {
    .card__container {
      flex-direction: column;
      margin: 0 2.5rem 5rem 0; } }
  .card__container .price {
    display: block;
    font-size: 6rem;
    margin: 3rem 0; }
    .card__container .price-annual {
      display: none; }
  .card__container ul {
    border-top: solid 0.5px var(--light-grayish-blue);
    border-bottom: solid 0.5px var(--light-grayish-blue);
    margin-bottom: 3rem; }
    .card__container ul li {
      list-style: none;
      padding: 1.5rem 0; }
      .card__container ul li:not(:last-of-type) {
        border-bottom: solid 0.5px var(--light-grayish-blue); }
  .card-professional {
    transform: scale(1.1);
    box-shadow: none;
    background-image: var(--primary-gradient);
    color: #fff; }
    .card-professional ul {
      border-top: solid 0.5px var(--very-light-grayish-blue);
      border-bottom: solid 0.5px var(--very-light-grayish-blue); }
      .card-professional ul li:not(:last-of-type) {
        border-bottom: solid 0.5px var(--very-light-grayish-blue); }
    .card-professional .btn {
      background-image: none;
      background-color: white;
      color: #696fdd; }
      .card-professional .btn:hover {
        background-color: transparent;
        color: #fff;
        border-color: #fff; }
  @media only screen and (max-width: 900px) {
    .card:not(:first-of-type) {
      margin-top: 5rem; }
    .card-professional {
      transform: scale(1);
      box-shadow: -6px 12px 20px var(--light-grayish-blue); } }
